<?xml version="1.0"?>
<!--
/** Hello menu xml
 * @category  Webkul
 * @package   Webkul_Hello
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="I95dev_Hello::manager" title="I95dev Menu" module="I95dev_Hello" sortOrder="10" resource="I95dev_Hello::manager"/>
        <add id="I95dev_Hello::employee" title="Employee Manager" module="I95dev_Hello" sortOrder="0" parent="I95dev_Hello::manager"
                action="hello/employee" resource="I95dev_Hello::employee"/>
    </menu>
</config>
